# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
uploads/

# Node
taskflow-ui/node_modules/
taskflow-ui/dist/

# Env
.env
.env.local